{
  "extends": [
    "stylelint-config-twbs-bootstrap/scss"
  ],
  "rules": {
    "declaration-property-value-disallowed-list": {
      "border": "none",
      "outline": "none"
    },
    "function-disallowed-list": [
      "calc"
    ],
    "no-invalid-position-at-import-rule": null,
    "property-disallowed-list": [
      "border-radius",
      "border-top-left-radius",
      "border-top-right-radius",
      "border-bottom-right-radius",
      "border-bottom-left-radius",
      "transition"
    ]
  }
}
